.git
*.tar.gz
*.zip
.editorconfig
/.vscode/*
node_modules
test
fixtures
coverage
.env
.env.*
.clinic
.github
.scannerwork
.vscode
tmp
# .gitignore
.angular
.env*
!.env.project
!.env.vault
.flaskenv*

apps/web/src/environments/environment.prod.ts
