node_modules

dist

# Yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# env
.env*
No newline at end of file
!.env.example
No newline at end of file

# vscode
.vscode/*